@import "header";
@import "footer";

.portfolio-max-width {
    max-width: 900px;
    margin: auto;
}

.image-map {
    rect {
        cursor: pointer;
        opacity: 0;
    }
    .tooltip {
        display: none;
    }
    g:hover {
        .tooltip {
            display: block;
        }
    }
}