@import "breakpoints";

@mixin menu {
    ul {
        position: absolute;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: blue;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    .nav-toggle:checked ~ ul {
        transform: scale(1, 1);
    }
    a {
        opacity: 0;
        transition: opacity 250ms ease-in-out;
    }
    .nav-toggle:checked ~ ul a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
}

nav {
    line-height: 56px;
    padding: 0 16px;
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        line-height: 56px;
    }
    a {
        color: inherit;
        text-decoration: none;
        font-weight: 700;
    }
    .nav-toggle {
        display: none;
    }
    label {
        cursor: pointer;
    }
    @include Web {
        ul {
            flex-direction: row;
            li:not(:last-child) {
                margin-right: 3rem;
            }
        }
        label {
            display: none;
        }
    }
    @include Tablet {
        @include menu;
    }
    @include Handset {
        @include menu;
    }
}
