@import "breakpoints";
@import "color";

.preview-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &:nth-child(odd) {
        background-color: hsl($color-hue-primary, $color-saturation-primary, 90%);
    }
    &:nth-child(even) {
        background-color: hsl($color-hue-primary, 0%, 90%);
    }
    @include Handset {
        grid-template-columns: 1fr;
    }
    .collection {
        position: sticky;
        top: 0;
        background: inherit;
        display: flex;
        flex-direction: column;
        padding: 32px;
    }
    .left {
        display: flex;
        flex-direction: column;
        background: inherit;
    }
    .right {
        display: grid;
        grid-template-columns: 1fr;
        background: inherit;
    }
    .document {
        position: sticky;
        top: 0;
        background: inherit;
        display: flex;
        flex-direction: column;
        padding: 32px;
        button {
            margin-top: 16px;
        }
    }
}
