---
---

@import "default";
@import "breakpoints";

.portfolio-max-width {
    max-width: 900px;
    margin: auto;
}

.portfolio-card {
    .mdl-card__title {
        padding-bottom: 0;
    }
    img {
        width: 100%;
        height: auto;
    }
}
