---
---

@import "base";
@import "preview";

.home-intro {
    display: flex;
    flex-direction: column;
    padding: 64px;
    background-color: hsl($color-hue-primary, $color-saturation-primary, 90%);
}
