---
layout: base
style: collection.css
---

{% assign collection = site.collections | find: "label", page.collection %}
<!--<h1>{{collection.title}}</h1>-->
{% assign documents = collection.docs | where: "list", true %}
{% for document in documents %}
<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
        <img class="article-image" src="{{document.thumbnail | relative_url}}" border="0"
            alt="">
    </div>
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{document.title}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{document.excerpt | strip_html}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
            href="{{document.url}}">Read more</a>
    </div>
</div>
{% endfor %}